/*Body*/
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    color: #333;
}
/*Header*/
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #2c3e50;
}
h1 {
    font-weight: 600;
}
h2 {
    font-weight: 500;
    padding-top: 30px;
}
h1, h2 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
/*Form*/
.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}
.form-group div {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.form-group input {
    width: 150px;
    padding: 8px;
    box-sizing: border-box;
    height: 35px;
}
label {
    margin-right: 10px;
    white-space: nowrap;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
th {
    background-color: #2c3e50;
    color: white;
    padding: 12px 20px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}
/*Button*/
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #7393B3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #a5bed6;
}
button:active {
    transform: scale(0.9);
}
/*Mobile View*/
@media (max-width: 600px){
    .form-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .form-group input {
        width: 100%;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        width: 100%;
        padding: 10px 20px;
        font-size: 12px;
    }
}
/*Tablet View*/
@media (min-width: 601px) and (max-width: 1024px) {
    .form-group {
        flex-direction: row;
        justify-content: flex-start;
    }
    .form-group input {
        width: 200px;
    }
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    table {
        font-size: 14px;
    }
    button {
        width: auto;
        font-size: 16px;
    }
}
/*Desktop View*/
@media (min-width: 1025px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    .form-group {
        gap: 25px;
    }
    .form-group input {
        width: 250px;
    }
    table {
        font-size: 16px;
    }
    button {
        width: auto;
        font-size: 16px;
    }
}